<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT">
<title>エリア別</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet"
	type="text/css">
<link th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet"
	type="text/css">
<link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
	<br />
	<form action="#" th:action="@{/user/arealist}"
		th:object="${ArealistForm}" method="post">
		<div class="mx-auto" style="width: 90%;">
			<h1>■ エリア別</h1>
			<table class="table table-bordered table-hover text-nowrap">
				<thead class="thead-light">
					<div class="form-group">
						<label for="uriage_date"> <select name="uriage_date"
							onchange="changeDate(this.value)">
								<option th:each="list : ${date}" th:value="${list.uriage_date}"
									th:selected="${data == list.uriage_date}" id="uriage_date"
									name="uriage_date">[[${list.uriage_date}]]</option>
						</select>
						</label>
					</div>
					<div class="float-left">
						<button type="submit"
							class="btn btn-secondary btn-lg rounded-pill" name="reg"
							value="&nbsp;検索&nbsp;">検索</button>
					</div>
					<tr>
						<th class="text-center" style="width: 15%">エリア</th>
						<th class="text-center" style="width: 15%">合計</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="list : ${arealist}">
						<td class="text-center"><a href="http://localhost:8080" th:href="@{/user/preflist/{area}(area = ${list.area_cd})}"  th:text="${list.area_name}"></a></td>
						<td class="text-right" th:text="'&yen;'+${#numbers.formatInteger(list.price,3,'COMMA')}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
</body>
</html>